<section id="projects" class="projects-section">
  <h2 class="my-10 md:mb-10 text-2xl md:text-5xl font-secondary text-center">Project Showcase</h2>
  <div class="project-grid">

    @for (project of profileData()?.projects; track $index) {
      <div class="project-card">
        <div class="project-image" style="background-image: url('{{project.screenshot}}');"></div>
        <div class="project-content">
          <h3 class="project-title">{{project.title}}</h3>
          <p class="project-description">
            {{project.info}}
          </p>
          <a href="{{project.website}}" class="project-link" target="_blank">View Project</a>
        </div>
      </div>
    }


  </div>
</section>
