<section class="about bg-[#31333c] p-3 text-white md:p-20" id="about">
  <h2 class="my-5 md:mb-10 text-2xl md:text-5xl font-secondary text-center">Portfolio</h2>
  <ul class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))]  gap-3">

    <li>
      <figure class="w-[calc(100%-2rem)] h-full flex items-center p-3 gap-3">
        <img class="size-20 fancy-border "
          src="https://images.unsplash.com/photo-1729196538107-8b25371a88bb?q=80&w=2950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">
        <figcaption class="text-justify text-sm">
          <h2>Hospital Management System</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis adipisci labore necessitatibus.
            Modi, inventore.</p>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="w-[calc(100%-2rem)] h-full flex items-center p-3 gap-3">
        <img class="size-20 fancy-border "
          src="https://images.unsplash.com/photo-1729196538107-8b25371a88bb?q=80&w=2950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">
        <figcaption class="text-justify text-sm">
          <h2>Hospital Management System</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis adipisci labore necessitatibus.
            Modi, inventore.</p>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="w-[calc(100%-2rem)] h-full flex items-center p-3 gap-3">
        <img class="size-20 fancy-border "
          src="https://images.unsplash.com/photo-1729196538107-8b25371a88bb?q=80&w=2950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">
        <figcaption class="text-justify text-sm">
          <h2>Hospital Management System</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis adipisci labore necessitatibus.
            Modi, inventore.</p>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="w-[calc(100%-2rem)] h-full flex items-center p-3 gap-3">
        <img class="size-20 fancy-border "
          src="https://images.unsplash.com/photo-1729196538107-8b25371a88bb?q=80&w=2950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">
        <figcaption class="text-justify text-sm">
          <h2>Hospital Management System</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis adipisci labore necessitatibus.
            Modi, inventore.</p>
        </figcaption>
      </figure>
    </li>
  </ul>

  <div class="flex justify-center items-center mt-5">
    <button type="button" class="bg-secondary px-5 py-2 rounded-lg" (click)="goto()">View More</button>
  </div>
</section>
