<section id="experience" class="experience-section">
  <h2 class="section-title">Work Experience</h2>
  <div class="experience-timeline">
    @for (experience of experiences(); track $index) {
    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <h3 class="job-title">{{experience.title}}</h3>
        <p class="company-name">{{experience.company}}</p>
        <p class="job-duration">{{experience.startDate}} - {{experience.endDate}}</p>
        <ul class="job-responsibilities">
          @for (responsibility of experience.description; track $index) {
          <li>{{responsibility}}</li>
          }
        </ul>
        <small><i>Skills: {{experience.skillset}}</i></small>
      </div>
    </div>
    }


  </div>
</section>
