:host {
  display: inline-block;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.my-image {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.background-layer{
  bottom:0;
  left:0;
  z-index: -1;
}
.portfolio-image{
  width: 370px;
  height: 370px;
}
.bg-blend-mode {
  mix-blend-mode: difference;
}
.max-width-400 {
  max-width: 400px;
}
